PROJETO DIDÁTICO DE ESTUDO

BASE DE DADOS RETIRADA DO KAGGLE DE AÇÕES AMÉRICANAS DESDE 1950

In [ ]:
# IMPORTAR A BIBLIOTECA PANDAS
import pandas as pd

In [ ]:
# LER O ARQUIVO
DF = pd.read_csv("/content/drive/MyDrive/GSPC.csv")
# MOSTAR O CABEÇALHO E AS 5 PRIMEIRAS LINHAS
DF.head()

         Date   Open   High    Low  Close  Adj Close   Volume
0  1950-01-03  16.66  16.66  16.66  16.66      16.66  1260000
1  1950-01-04  16.85  16.85  16.85  16.85      16.85  1890000
2  1950-01-05  16.93  16.93  16.93  16.93      16.93  2550000
3  1950-01-06  16.98  16.98  16.98  16.98      16.98  2010000
4  1950-01-09  17.08  17.08  17.08  17.08      17.08  2520000

In [ ]:
# DELETAR A COLUNA 'Date'
DF = DF.drop('Date',axis=1)

In [ ]:
# MOSTRAR A TABELA NOVAMENTE
DF.head()

    Open   High    Low  Close  Adj Close   Volume
0  16.66  16.66  16.66  16.66      16.66  1260000
1  16.85  16.85  16.85  16.85      16.85  1890000
2  16.93  16.93  16.93  16.93      16.93  2550000
3  16.98  16.98  16.98  16.98      16.98  2010000
4  17.08  17.08  17.08  17.08      17.08  2520000

In [ ]:
# VISUALIZAR AS ÚLTIMAS DUAS LINHAS DA BASE DE DADOS
DF[-2::]

,Open,High,Low,Close,Adj Close,Volume
17216,2748.459961,2752.610107,2739.510010,2748.800049,2748.800049,3517790000
17217,2753.250000,2772.389893,2748.459961,2772.350098,2772.350098,3651640000

In [ ]:
# CRIAR UMA VARIÁVEL CHAMADA 'amanha' E VOU QUERER A ÚLTIMA LINHA DA BASE DE DADOS
amanha = DF [-1::]
amanha

          Open         High          Low        Close    Adj Close      Volume
17217  2753.25  2772.389893  2748.459961  2772.350098  2772.350098  3651640000

In [ ]:
# CRIAR UMA VARIÁVEL QUE RECEBE TODA A BASE DE DADOS EXCETO A ÚLTIMA LINHA
base = DF.drop(DF[-1::].index, axis=0)

In [ ]:
# MOSTRAR O CABEÇALHO E AS ÚLTIMAS 5 LINHAS
base.tail()

,Open,High,Low,Close,Adj Close,Volume
17212,2702.429932,2729.340088,2702.429932,2724.010010,2724.010010,3561050000
17213,2720.979980,2722.500000,2700.679932,2705.270020,2705.270020,4235370000
17214,2718.699951,2736.929932,2718.699951,2734.620117,2734.620117,3684130000
17215,2741.669922,2749.159912,2740.540039,2746.870117,2746.870117,3376510000
17216,2748.459961,2752.610107,2739.510010,2748.800049,2748.800049,3517790000

In [ ]:
# CRIAR UMA NOVA COLUNA ELA VAI RECEBER O CONTEÚDO DA COLUNA 'Close' PORÉM VAI COMEÇAR A PARTIR DA LINHA 1 E NÃO DA LINHA 0
base['target'] = base['Close'][1:len(base)].reset_index(drop=True)

# MOSTRAR O CABEÇALHO E AS ÚLTIMAS 5 LINHAS
base.tail()

,Open,High,Low,Close,Adj Close,Volume,target
17212,2702.429932,2729.340088,2702.429932,2724.010010,2724.010010,3561050000,2705.270020
17213,2720.979980,2722.500000,2700.679932,2705.270020,2705.270020,4235370000,2734.620117
17214,2718.699951,2736.929932,2718.699951,2734.620117,2734.620117,3684130000,2746.870117
17215,2741.669922,2749.159912,2740.540039,2746.870117,2746.870117,3376510000,2748.800049
17216,2748.459961,2752.610107,2739.510010,2748.800049,2748.800049,3517790000,NaN

In [ ]:
# OBS: DA NOVA COLUNA CRIADA A ÚLTIMA LINHA 'NaN' VAI SER USADA PARA A PREVISÃO DO MODELO

In [ ]:
# CRIAR UMA VARIÁVEL QUE DA COLUNA 'target' VAI EXCLUIR A ÚLTIMA LINHA, OU SEJA A QUE ESTA VAZIA
prev = base[-1::].drop('target', axis = 1)

prev

,Open,High,Low,Close,Adj Close,Volume
17216,2748.459961,2752.610107,2739.51001,2748.800049,2748.800049,3517790000

In [ ]:
# CRIAR OUTRA VARIÁVEL QUE AGORA VAI EXCLUIR TODA A LINHA ANTERIOR '17216'
Treino = base.drop(base[-1::].index,axis = 0)
Treino.tail()

,Open,High,Low,Close,Adj Close,Volume,target
17211,2705.110107,2710.669922,2676.810059,2689.860107,2689.860107,3736890000,2724.010010
17212,2702.429932,2729.340088,2702.429932,2724.010010,2724.010010,3561050000,2705.270020
17213,2720.979980,2722.500000,2700.679932,2705.270020,2705.270020,4235370000,2734.620117
17214,2718.699951,2736.929932,2718.699951,2734.620117,2734.620117,3684130000,2746.870117
17215,2741.669922,2749.159912,2740.540039,2746.870117,2746.870117,3376510000,2748.800049

In [ ]:
# TRANSFORMAR OS DAOS DA COLUNA 'target' EM 0 OU 1 

# DA BASE DE DADOS 'treino' SI O VALOR DA LINHA 'target' FOR MAIOR QUE O DA linha 'CLOSE' ENTÃO COLOQUE 1
Treino.loc[Treino['target'] > Treino['Close'],'target'] = 1
Treino.tail()

,Open,High,Low,Close,Adj Close,Volume,target
17211,2705.110107,2710.669922,2676.810059,2689.860107,2689.860107,3736890000,1.00000
17212,2702.429932,2729.340088,2702.429932,2724.010010,2724.010010,3561050000,2705.27002
17213,2720.979980,2722.500000,2700.679932,2705.270020,2705.270020,4235370000,1.00000
17214,2718.699951,2736.929932,2718.699951,2734.620117,2734.620117,3684130000,1.00000
17215,2741.669922,2749.159912,2740.540039,2746.870117,2746.870117,3376510000,1.00000

In [ ]:
# AGORA SI NA COLUNA 'target' O VALOR FOR DIFERENTE DE 1 ENTÃO COLOQUE 0
Treino.loc[Treino['target'] != 1, 'target'] = 0
Treino.tail()

,Open,High,Low,Close,Adj Close,Volume,target
17211,2705.110107,2710.669922,2676.810059,2689.860107,2689.860107,3736890000,1.0
17212,2702.429932,2729.340088,2702.429932,2724.010010,2724.010010,3561050000,0.0
17213,2720.979980,2722.500000,2700.679932,2705.270020,2705.270020,4235370000,1.0
17214,2718.699951,2736.929932,2718.699951,2734.620117,2734.620117,3684130000,1.0
17215,2741.669922,2749.159912,2740.540039,2746.870117,2746.870117,3376510000,1.0

PREPARAR OS DADOS PARA UTILIZAR O MODELO DE MACHINE LEARNING

In [ ]:
# SEPARAR A VARIÁVEL X DEPENDENTE E A VARIÁVEL Y INDEPENDENTE
x = Treino.drop('target', axis = 1)
y = Treino['target']

In [ ]:
# SEPARAR UMA PARTE DA BASE DE DADOS PARA TREINO E OUTRA PARA TESTE 
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size=0.3)

In [ ]:
# IMPORTAR O MODELO DE MACHINE LEARNING CLASSIFICADOR DE ÁRVORES EXTRAS e TREINAR A INTELIGÊNCIA ARTIFICIAL
from sklearn.ensemble import ExtraTreesClassifier
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier()

In [ ]:
# MOSTRAR A PONTUAÇÃO DO TESTE
Resultado = modelo.score(x_teste, y_teste)
print('Acurácia: ',Resultado)

Acurácia:  0.5212003872216844

In [ ]:
# VISUALIZAR A VARIÁVEL 'prev'
prev

,Open,High,Low,Close,Adj Close,Volume
17216,2748.459961,2752.610107,2739.51001,2748.800049,2748.800049,3517790000

In [ ]:
# O MODELO VAI MOSTRAR O VALOR DA VARIÁVEL SI É 1 OU 0
modelo.predict(prev)

array([1.])

In [ ]:
# COLOCAR A VARIÁVEL 'prev' DENTRO DA MINHA COLUNA 'target'
prev['target'] = modelo.predict(prev)
prev

,Open,High,Low,Close,Adj Close,Volume,target
17216,2748.459961,2752.610107,2739.51001,2748.800049,2748.800049,3517790000,1.0

In [ ]:
amanha

          Open         High          Low        Close    Adj Close      Volume
17217  2753.25  2772.389893  2748.459961  2772.350098  2772.350098  3651640000

In [ ]:
base.tail()

,Open,High,Low,Close,Adj Close,Volume,target
17212,2702.429932,2729.340088,2702.429932,2724.010010,2724.010010,3561050000,2705.270020
17213,2720.979980,2722.500000,2700.679932,2705.270020,2705.270020,4235370000,2734.620117
17214,2718.699951,2736.929932,2718.699951,2734.620117,2734.620117,3684130000,2746.870117
17215,2741.669922,2749.159912,2740.540039,2746.870117,2746.870117,3376510000,2748.800049
17216,2748.459961,2752.610107,2739.510010,2748.800049,2748.800049,3517790000,NaN

In [ ]:
# COLOCAR NA BASE DE DADOS NOVAMENTE A VARIÁVEL 'amanha' LINHA '17217'
base = base.append(amanha, sort = True)
base.tail()

,Adj Close,Close,High,Low,Open,Volume,target
17213,2705.270020,2705.270020,2722.500000,2700.679932,2720.979980,4235370000,2734.620117
17214,2734.620117,2734.620117,2736.929932,2718.699951,2718.699951,3684130000,2746.870117
17215,2746.870117,2746.870117,2749.159912,2740.540039,2741.669922,3376510000,2748.800049
17216,2748.800049,2748.800049,2752.610107,2739.510010,2748.459961,3517790000,NaN
17217,2772.350098,2772.350098,2772.389893,2748.459961,2753.250000,3651640000,NaN

In [ ]:
# SALVAR A VARIÁVEL 'prev' COMO ARQUIVO CSV, OBS: CONTEM APENAS UMA LINHA
prev.to_csv('/content/drive/MyDrive/prev.csv', index = False)

In [ ]:
# SALVAR A VARIÁVEL 'amanha' COMO ARQUIVO CBS, OBS: TAMBÉM COM UMA LINHA
amanha = DF[-1::]
amanha.to_csv('/content/drive/MyDrive/Futuro.csv', index = False)

In [ ]:
# SALVAR A VARIÁVEL 'Hoje' COMO ARQUIVO CBS', OBS: PODE OU NÃO CONTER O VALOR DA PREVISÃO
base = DF.drop(DF[-1::].index, axis = 0)
base.to_csv('/content/drive/MyDrive/Hoje.csv', index = False)

SALVAR O ARQUIVO NO FORMATO .PY

In [ ]:
# CAMINHO PARA SALVAR PELO GOOGLE COLAB
# arquivo > fazer downloard > fazer o download de .py

In [ ]:
# OBS: ABRA O ARQUIVO QUE FOI SALVO NO FORMATO .py E COLOQUE OS CÓDIGOS A BAIXO:
# OBS: O ARQUIVO PODE SER ABERTO NO JUPITER NOTEBOOK OU PYCHARM

In [ ]:
# CÓDIGO PARA RETIRAR ATIVOS
def warn(*args, **kwargs):
    pass
import warnings
warnings.wain = warn

# IMPORTAR E LER O ARQUIVO
import pandas as pd
prev = pd.read_csv('/content/drive/MyDrive/prev.csv')
# O CÓDIGO VAI MOSTRAR O VALOR DO FECHAMENTO ANTERIOR E DA PREVISÃO ANTERIOR
print('Fechamento anterior: ', prev['Close'][0])
print('Previsão anterior: ',prev['target'][0])

# DEPOIS VAI SER MOSTRAR O VALOR DE HOJE
base = pd.read_csv('/content/drive/MyDrive/Hoje.csv')


try:
    amanha = pd.read_csv('/content/drive/MyDrive/Futuro.csv')
    print('Fechamento atual: ', amanha['Close'][0])
    base = base.append(amanha[:1],sort = True)
    amanha = amanha.drop(amanha[:1].index,axis = 0)
    base.to_csv('/content/drive/MyDrive/Hoje.csv',index = False)
    amanha.to_csv('/content/drive/MyDrive/Futuro.csv',index = False)
except Exception:
    print('O fechamento ainda não ocorreu!')
    pass

base['target'] = base['Close'][1:len(base)].reset_index(drop=True)
prev = base[-1::].drop('target', axis = 1)
Treino = base.drop(base[-1::].index,axis = 0)
Treino.loc[Treino['target'] > Treino['Close'],'target'] = 1
Treino.loc[Treino['target'] != 1, 'target'] = 0
x = Treino.drop('target', axis = 1)
y = Treino['target']

from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size=0.3)
from sklearn.ensemble import ExtraTreesClassifier
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

print('Acurácia: ',modelo.score(x_teste, y_teste))

prev['target'] = modelo.predict(prev)
print('Fechamento de ontem: ',prev['Close'][0])

if prev ['target'][0]==1:
  print('VAI SUBIR!')
else:
  print('VAI CAIR!')

prev.to_csv('/content/drive/MyDrive/prev.csv',index = False)

In [ ]:
# OBS: PARA EXECUTAR ESSE ARQUIVO TEM QUE ABRIR O 'PROMPT DE COMANDO' , digite 'C:' PARA DISCO LOCAL ONDE ESTA O ARQUIVO, 
# E COLOCAR O NOME DO ARQUIVO, E 'Enter'.

In [ ]:
# OBS: PROJETO DE ESTUDO